#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container {
  background-color: #eed338;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  place-content: center;
  padding: 2rem;
  row-gap: 1rem;
}
.items {
  display: flex;
  align-items: center;
  gap: 0.2rem 1rem;
  flex-wrap: wrap;
}
.itemCount {
  align-self: center;
  font-size: 1.5rem;
  width: 5ch;
  background-color: #1a1a1a;
}
.cart {
  color: #1a1a1a;
  font-size: 3rem;
}
.item {
  width: 6ch;
  background-color: #1a1a1a;
  padding: 4px;
  border-radius: 0.5rem;
}
.quantity {
  background-color: #1a1a1a;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 6ch;
}
.items-container {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  background-color: aquamarine;
}
.top {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}
